.selected-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 200px;
  max-width: 200px;
  min-height: 300px;

  padding: 20px;

  border: 1px solid rgb(243, 188, 8);
  border-radius: 5px;

  background-color: rgba(212, 160, 17, 0.719);

  &-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 50px;
  }

  &__img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 7px;
  }

  &__name {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-between;

    margin: 0;
    gap: 5px;

    font-size: 22px;
    font-weight: bold;
    color: rgb(53, 39, 2);
    text-decoration: none;
  }

  &__text--right {
    text-align: right;
  }

  &__text--left {
    text-align: left;
    color: rgb(88, 73, 29);
  }

  &__button {
    width: 150px;
    padding: 7px 0;
    margin-top: 10px;
    border: 1px solid rgb(243, 188, 8);
    border-radius: 5px;

    background-color: rgba(212, 160, 17, 0.918);
    cursor: pointer;

    font-family: inherit;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 200ms ease-in-out;

    &:hover {
      background-color: rgba(161, 122, 14, 0.918);
    }
  }
}

.home {
  padding: 15px 30px;
  margin-top: 40px;

  border: 1px solid rgb(243, 188, 8);
  border-radius: 5px;

  background-color: rgba(212, 160, 17, 0.918);
  cursor: pointer;

  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: 200ms ease-in-out;

  &:hover {
    transform: scale(1.1);
    background-color: rgba(161, 122, 14, 0.918);
  }
}