.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 200px;
  max-width: 200px;
  min-height: 300px;

  padding: 20px;

  border: 1px solid rgb(243, 188, 8);
  border-radius: 5px;

  background-color: rgba(212, 160, 17, 0.719);
  cursor: pointer;

  &:hover {
    transform: translateY(-10px);
    background-color: rgba(148, 110, 7, 0.719);
    transition: 300ms ease-in-out;
  }

  &__img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 7px;
  }

  &__name {
    margin: 0;
    gap: 5px;

    font-size: 25px;
    font-weight: bold;
    color: rgb(53, 39, 2);
    text-decoration: none;
  }

  &__text--right {
    text-align: right;
  }

  &__text--left {
    text-align: left;
    font-size: 0.9em;
    color: rgb(88, 73, 29);
  }
}